{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Data Analysis on Movie Franchises</h1>
    <br>
    <p class="small_margins">This data analysis was done using a Kaggle movies dataset called movies_metadata.csv, click <a href="https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset">here</a> to access the dataset</p>
    <h2 class="data_h2">Fig 1: Number of High Grossing Movies (>100M USD) in a Franchise Per Release Year</h2>
    <img class="data_image" src="static/images/movies_in_collections_per_year_100m.png"/>
    <br>
    <p class="small_margins">The number of high grossing movies released per year has increased a lot since 1950.
        There was a steady climb until the mid 1970's then the gradient increased from the mid-1970s to around 2000. Then the gradient
        increased again, with the Y value doubling and going from just over 60 to 120 in just over a 10 year period.
    </p>
    <p class="small_margins">There are a number of factors behind this. Inflation is one - it was much harder to make a movie with a profit
        of more than 10M USD when the USD was worth a lot more. Another is that more movies belonging to franchises are being made. Franchises tend to
        make lots of money for a few reasons. Audiences are familiar with previous installments, so there is less risk on their part. Also if a movie has
        performed well, then studios will be more confident that another installment will be a hit and give the new installment a big budget which can
        be spend on marketing, getting big movie stars as actors and on special effects. Lots of people then go to see them at the box office, which is
        especially important with the advent of streaming, as the majority of a movie's revenue will come from the box office compared to 15 years ago and
        prior when a mid budget movie could make a lot through DVD sales and through renting services such as Blockbuster.
    </p>
    <h2 class="data_h2">Fig 2: Number of High Grossing Movies (>500M USD) in Franchise Per Release Year</h2>
    <img class="data_image" src="static/images/movies_in_collections_per_year_500m.png"/>
    <p class="small_margins">This is very evident if we just look at the top of the market with movies that made profit of over 500M USD as seen in Fig 2.
        Since the mid 1990s, almost all of the >500M profit movies have been in franchises, although in the most recent years this changed somewhat although
        franchises still made up most of the major releases
    </p>
    <h2 class="data_h2">Fig 3: Highest Grossing Movies of All Time</h2>
    <table class="display" style="width: 100%;">
        <thead>
        <tr>
            {% for header in headers %}
            <th>{{ header.capitalize }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in output %}
        <tr>
            {% for val in row %}
            <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="small_margins">Of the top 20 highest profit films of all time, only Titanic and Zootopia are not part of a franchise. There are some child-friendly films
        amongst the top 20 such as Frozen, Minion and Toy Story 3, but the majority are franchise blockbuster movies.
    </p>
    <h2 class="data_h2">Fig 4: Polynomial Regression on Number of High Grossing Movies (>100M USD) Per Release Year</h2>
    <img class="data_image" src="static/images/polynomial_regression_100m.png"/>
    <p class="small_margins">A polynomial regression provides a good fit for movies that made > 100m in profit for standalone movies and for franchise movies. The X<sup>2</sup>
        dependency of the top graph is 0.021, and for the bottom graph it's 0.0122, suggesting that the number of high grossing movies both in and out of franchises will
        increase year on year at an exponential rate. It is odd that the number of franchise movies with profit over 100m dropped in recent years which had the effect of reducing
        the R<sup>2</sup> value. It's possible that this could be due to viewer fatigue. There have been quite a few box office blockbuster flops in recent years from
        franchises such as the MCU and Star Wars, and it could be that the market has reached saturation. The quality of a lot of these films has been low too with both critics and
        audiences scoring them low.
    </p>
</div>
{% endblock content %}