{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Home</h1>
    <p>Hello and welcome to my website built using the Django framework. Below are links to 4 different pages:</p>
    <ol>
        <li>
            <a href="{% url 'fictions' %}">The Quote Machine where you can add your favourite fictions and save quotes of them</a>
        </li>
        <li>
            <a href="{%url 'dataAnalysis' %}">Data analysis of a film dataset using Pandas and matplotlib</a>
        </li>
        <li>
            <a href="{% url 'apiGuide' %}">A guide for how to use an API which will give details on various Pokemon depending on the ID you use
        Pokemon</a>
        </li>
        <li>
            A link to my GitHub which includes the code for this site and a chess game I have built
        </li>
    </ol>
    <p>Thanks for viewing and feel free to explore</p>
</div>
{% endblock content %}